{% extends 'base.html' %}
{% block content %}
 <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
              <marquee behavior="scroll" direction="left" width="100%" bgcolor="#EEEEEE">
                  <h4 style="color: #f39424">NB:Stock et prix variables selon le temps. Pour plus de détails veuillez contacter le +226 02191919</h4>
                </marquee>
          <h3>Apperçu <span>de nos ordinateurs Accer</span></h3>
          <p>Nous avons une panoplie d'article en stock afin de vous satisfaire </p>
        </div>
        {% if accer %}
        <div class="row">
          {% for prod in accer %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="">
                 {% if prod.image %}
                    <img class="img-fluid " src="{{ prod.image.url }}" class="card-img-top" alt="..." style="max-width: 100%; height: auto">
                  {% endif %}</div><br>
              <h4><a href="">{{ prod.name}}</a></h4>
            <hr>
              <p style="color: #f39424"><strong>{{ prod.price}} FCFA</strong></p><br>
            <hr>
              <a href="{% url 'detail' prod.id %}" class="btn text-white" style="background-color: #193965">Detail</a>
               <a href="https://wa.me/message/7FOBLONZH7FEC1" class="btn text-white" style="background-color: #193965"> Whatsapp</a>
            </div>
          </div>
          {%endfor%}

        </div>
        {% endif %}
      </div>
    </section><!-- End Services Section -->
{% endblock %}