 @font-face {
            font-family: 'Futura';
            src: url('futura/futur.ttf') format('truetype');
        }


 /* .content img{*/

 /*   width: 100%;*/
 /*     */
 /*}*/
  .content-wrapper{
      width: 100%;
  }
   .content{
     position: relative;
     max-width: 100%;
 }
   .text{
    position: absolute;
    top: 0px;
    text-align: center;
    color: white;
    margin-top: 12%;
    padding: 35px;
    width: 100%;
   }
   .text h1 p{
       font-family: Futura;
       text-align: center;

   }
   .text h1 {
       font-weight: bolder;
       font-size: 44px;
       margin-left: 15%;


   }
   .text p{
       font-size: 18px;
       margin-left: 15%;
   }
html,body{
    padding: 0px;
    margin: 0px;
}

.navbar-brand{
    font-weight: bold;
}