{% extends 'base.html' %}
{% block content %}
    <div class="card">
  <div class="card-body">
    <form class="row g-3 " method="post" action="{% url 'addProduct' %}" enctype="multipart/form-data">
        {% csrf_token %}
  <div class="col-md-6">
    <label for="inputname" class="form-label">Nom</label>
    <input type="text" name="name" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6 mb-3">
  <label for="formFile" class="form-label">Image</label>
  <input class="form-control" name="image" type="file" id="formFile">
</div>
    <div class="col-md-6">
    <label for="inputState" class="form-label">Categorie</label>
    <select id="inputState" name="category" class="form-select">
      <option selected>Choisir...</option>
      <option value="Ordinateur">Ordinateur</option>
      <option value="Bureautique">Bureautique</option>
      <option value="Stockage">Stockage</option>
      <option value="Connexion">Connexion</option>
      <option value="Electromenager">Electromenager</option>

    </select>
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Prix</label>
    <input type="text" name="price" class="form-control" id="inputAddress" placeholder="Entrez le montant">
  </div>

   <div class="col-md-6">
    <label for="inputState" class="form-label">Marque</label>
    <select id="inputState" name="marque" class="form-select">
      <option selected>Choisir...</option>
      <option value="A">Accer</option>
      <option value="D">Dell</option>
      <option value="H">HP</option>
      <option value="L">Lenovo</option>
      <option value="M">Mac</option>
      <option value="Au">Autre</option>
    </select>
  </div>
 <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Detail</label>
  <textarea class="form-control" name="detail" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>



  <div class="col-12">
   <center><button type="submit" class="btn text-white" style="background-color: #193965">Ajouter</button></center>
  </div>
</form>
  </div>
</div>
{% endblock %}